<div class="row text-center justify-content-center">
  <div class="col-md-7">
    <div class="card">
      <h1 class="card-title text-center">Vote</h1>
      <div class="card-body">
        <VOTE-COMPONENT></VOTE-COMPONENT>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<div class="row">

  <!-- Recent Votes -->
  <div class="col-md-5">
    <div class="card force-card-height">
      <h1 class="card-title text-center">Recent Votes</h1>
      <div class="card-body">
        <RECENT-COMPONENT></RECENT-COMPONENT>
      </div>
    </div>
  </div>

  <!-- Leaderboard -->
  <div class="col-md-7">
    <div class="card force-card-height">
      <h1 class="card-title text-center">Leaderboard</h1>
      <div class="scrollable">
        <div class="card-body">
          <LEADERBOARD-COMPONENT></LEADERBOARD-COMPONENT>
        </div>
      </div>
    </div>
  </div>

</div>
