

/*********** DEFAULT STYLE OVERRIDES ***********/


@font-face {
  font-family: GW2Font;
  src: url("GWTwoFont.ttf");
}

h1 {
  font-family: GW2Font;
}

p { /* To style the leaderboard & recent votes list */
  margin: 0;
}

u { /* To make the "refresh vote" thing look more interactive */
  cursor: pointer;
}

body { /* Background image & text formatting - https://stackoverflow.com/a/29693487/10874809 */
  background: url("nipplerick.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  /*font-family: Consolas;*/
}

hr { /* Make the line at the bottom white */
  border-color: white;
}


/*********** BOOTSTRAP OVERRIDES ***********/


.card { /* Make card content visible over background image */
  background: rgba(125, 125, 125, 0.5);
  border: 1px solid white;
}

.btn { /* Outline buttons to help them stand out */
  border: 1px solid white;
}


/*********** CUSTOM ***********/


.center { text-align: center; } /* Formatting vote counter in Recent section */
/*.right  { text-align: right;  }*/ /* ^ */

.force-card-height { height: 485px; } /* force retain size when search yields less than 14 results */

.scrollable { overflow-y: auto; } /* Make the leaderboard scrollable - https://stackoverflow.com/a/53385977/10874809 */

.shrink-long-name { font-size:smaller } /* Making long names shorter to avoid button overflow */

.vs { /* Changing the "VS" between vote buttons to be more vertically aligned */
  font-size: larger;
  padding-top: 2%;
}

/*
.rank1 { color: gold; }
.rank2 { color: chartreuse; }
.rank3 { color: cornflowerblue }
*/
